@font-face {
  font-family: 'UhBeeJJIBBABBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeJJIBBABBA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DOSMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body.chakra-ui-light {
  /* orange.200 */
  background-color: #fbd38d;
}

body,
html {
  height: 100%;
}

#root {
  font-family: 'Pretendard-Regular';
  height: 100%;
}

.chakra-offset-slide {
  width: 100%;
}

@media (min-width: 480px) {
  .chakra-offset-slide {
    width: auto;
  }
}
