.speechbubble {
  position: relative;
  background: #a39d90;
  border-radius: 0.4em;
  padding: 2rem 2.5rem;
  margin-bottom: 1rem;
}

.speechbubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #a39d90;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
